<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BluePulse</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="static/fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="static/css/magnific-popup.css"> 
    <link rel="stylesheet" href="static/css/templatemo-ocean-vibes.css"> 
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
</head>
<body>
    <header class="tm-site-header">
        <h1 class="tm-mt-0 tm-mb-15"><span class="tm-color-primary">Blue</span><span class="tm-color-gray-2">Pulse</span></h1>
        <em class="tm-tagline tm-color-light-gray">Feel the ocean's heartbeat</em>
    </header>

    <div class="Paragraph">
        <p>
            <h3>
                Les Os et les Crustacés : La Résilience et la Structure
            </h3>
            Les os humains partagent des similitudes avec la carapace des crustacés, toutes deux étant des structures rigides mais vivantes. Les chercheurs étudient les carapaces de crabe et de crevette pour développer des biomatériaux, comme le chitosane, une molécule utilisée pour favoriser la régénération osseuse.

            Les coraux, eux aussi, participent à ce lien. Leurs structures calcaires sont utilisées en médecine pour fabriquer des implants osseux, car elles favorisent la croissance cellulaire et la compatibilité avec les tissus humains. Une fois de plus, la biodiversité océanique nous donne des clés pour réparer et renforcer notre propre squelette.
    </div>

    <footer>
        <a href="index.html" data-effect="mfp-move-from-top" class="Paragraph">
            Retourner à l'accueil
        </a>
    </footer>

</body>

</html>
