<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BluePulse</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="static/fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="static/css/magnific-popup.css"> 
    <link rel="stylesheet" href="static/css/templatemo-ocean-vibes.css"> 
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
</head>
<body>
    <header class="tm-site-header">
        <h1 class="tm-mt-0 tm-mb-15"><span class="tm-color-primary">Blue</span><span class="tm-color-gray-2">Pulse</span></h1>
        <em class="tm-tagline tm-color-light-gray">Feel the ocean's heartbeat</em>
    </header>

    <div class="Paragraph">
        <p>
            <h3>
                Le Sang et l'Océan : La Circulation de la Vie

            </h3>
            L’océan, souvent décrit comme le « sang de la Terre », partage des propriétés chimiques étonnantes avec le plasma humain. Les deux sont riches en sels minéraux essentiels, ce qui témoigne d’une ancienne parenté évolutive entre la vie marine et terrestre.
            Les algues rouges, comme celles utilisées pour produire de l’agar-agar, ont aussi une fonction médicinale. Elles contiennent des polysaccharides qui imitent les glycoprotéines du sang humain, offrant des solutions innovantes pour des applications biomédicales, comme la cicatrisation ou les anticoagulants.

    </div>

    <img src="static/img/redalgea.jpg" class="Image">

    <footer>
        <a href="/" data-effect="mfp-move-from-top" class="Paragraph">
            Retourner à l'accueil
        </a>
    </footer>

</body>

</html>
