<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BluePulse</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="static/fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="static/css/magnific-popup.css"> 
    <link rel="stylesheet" href="static/css/templatemo-ocean-vibes.css"> 
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
</head>
<body>
    <header class="tm-site-header">
        <h1 class="tm-mt-0 tm-mb-15"><span class="tm-color-primary">Blue</span><span class="tm-color-gray-2">Pulse</span></h1>
        <em class="tm-tagline tm-color-light-gray">Feel the ocean's heartbeat</em>
    </header>

    <div class="Paragraph">
        <p>
            <h3>
                Le Cerveau et les Abysses : L'Inexploré
            </h3>
            Le cerveau humain, avec ses milliards de connexions neuronales, reste une énigme, tout comme les abysses océaniques. Les deux représentent des frontières inconnues, où des découvertes révolutionnaires attendent.

            Certaines molécules marines ont déjà montré leur potentiel pour traiter des troubles neurologiques. Les conotoxines, issues des cônes marins, ont inspiré des analgésiques puissants, tandis que les algues fournissent des substances prometteuses pour traiter la maladie d'Alzheimer. Les océans, avec leur biodiversité unique, alimentent nos capacités à comprendre et protéger le cerveau, le cœur de nos perceptions.
        </p>
    </div>

    <footer>
        <a href="/" data-effect="mfp-move-from-top" class="Paragraph">
            Retourner à l'accueil
        </a>
    </footer>
</body>

</html>
