<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BluePulse</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="static/fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="static/css/magnific-popup.css"> 
    <link rel="stylesheet" href="static/css/templatemo-ocean-vibes.css"> 
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
</head>
<body>
    <header class="tm-site-header">
        <h1 class="tm-mt-0 tm-mb-15"><span class="tm-color-primary">Blue</span><span class="tm-color-gray-2">Pulse</span></h1>
        <em class="tm-tagline tm-color-light-gray">Feel the ocean's heartbeat</em>
    </header>

    <div class="Paragraph">
        <p>
            <h3>
                Le Cœur et les Courants Marins : L'Élan de la Vie
            </h3>
            Le cœur humain pompe le sang à travers un réseau de vaisseaux, tout comme les courants marins transportent chaleur, nutriments et vie à travers les océans. Ces deux systèmes circulatoires sont essentiels pour maintenir l’équilibre.

            La biodiversité marine joue également un rôle crucial dans la santé cardiaque humaine. Prenons les oméga-3, des acides gras essentiels provenant de poissons comme le saumon et le maquereau. Ces lipides, produits initialement par les microalgues consommées par les poissons, sont des alliés puissants dans la prévention des maladies cardiovasculaires. Les connexions sont palpables : le cœur humain se nourrit littéralement de l’énergie des océans.
        </p>
    </div>

    <footer>
        <a href="/" data-effect="mfp-move-from-top" class="Paragraph">
            Retourner à l'accueil
        </a>
    </footer>

</body>

</html>
