<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BluePulse</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="static/fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="static/css/magnific-popup.css"> 
    <link rel="stylesheet" href="static/css/templatemo-ocean-vibes.css"> 
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
</head>
<body>
    <header class="tm-site-header">
        <h1 class="tm-mt-0 tm-mb-15"><span class="tm-color-primary">Blue</span><span class="tm-color-gray-2">Pulse</span></h1>
        <em class="tm-tagline tm-color-light-gray">Feel the ocean's heartbeat</em>
    </header>

    <div class="Paragraph">
        <p>
            <h3>
                Les Poumons et le Phytoplancton : Les Poumons Bleus
            </h3>
            Les poumons humains échangent oxygène et dioxyde de carbone pour alimenter nos cellules, mais ils ne pourraient fonctionner sans un partenaire clé : l’océan. En effet, le phytoplancton, ces minuscules organismes marins, produit plus de 50 % de l’oxygène de l’atmosphère. Les océans sont souvent appelés les « poumons bleus » de la planète, et chaque respiration que nous prenons est un hommage silencieux à leur vitalité.

            Les interactions ne s’arrêtent pas là : des composés marins comme les lipides extraits des algues peuvent améliorer les traitements pour des maladies pulmonaires. De plus, la préservation de ces micro-organismes garantit la santé non seulement des écosystèmes marins mais aussi de nos propres systèmes respiratoires.
        </p>
    </div>

    <img src="static/img/phyto.jpg" class="Image">

    <footer>
        <a href="/" data-effect="mfp-move-from-top" class="Paragraph">
            Retourner à l'accueil
        </a>
    </footer>

</body>

</html>
