<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BluePulse</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="static/fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="static/css/magnific-popup.css"> 
    <link rel="stylesheet" href="static/css/templatemo-ocean-vibes.css"> 
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
</head>
<body>
    <header class="tm-site-header">
        <h1 class="tm-mt-0 tm-mb-15"><span class="tm-color-primary">Blue</span><span class="tm-color-gray-2">Pulse</span></h1>
        <em class="tm-tagline tm-color-light-gray">Feel the ocean's heartbeat</em>
    </header>

    <div class="Paragraph">
        <p>
            <h3>
                Le Microbiote et les Fonds Marins : Les Écosystèmes Invisibles
            </h3>
            Tout comme les fonds marins cachent une biodiversité microscopique essentielle pour la chaîne alimentaire marine, notre microbiote intestinal abrite des milliards de micro-organismes qui régulent notre santé. Les deux écosystèmes, invisibles à l’œil nu, sont des piliers de la vie.

            Les scientifiques explorent le potentiel des bactéries marines pour moduler notre microbiote intestinal. Par exemple, certaines espèces produisent des métabolites aux propriétés anti-inflammatoires, ce qui pourrait ouvrir la voie à des traitements contre des maladies chroniques comme la colite ou le syndrome du côlon irritable.
        </p>
    </div>

    <footer>
        <a href="/" data-effect="mfp-move-from-top" class="Paragraph">
            Retourner à l'accueil
        </a>
    </footer>

</body>

</html>
