<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BluePulse</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="static/fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="static/css/magnific-popup.css"> 
    <link rel="stylesheet" href="static/css/templatemo-ocean-vibes.css"> 
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
</head>
<body>
    <header class="tm-site-header">
        <h1 class="tm-mt-0 tm-mb-15"><span class="tm-color-primary">Blue</span><span class="tm-color-gray-2">Pulse</span></h1>
        <em class="tm-tagline tm-color-light-gray">Feel the ocean's heartbeat</em>
    </header>

    <div class="Paragraph">
        <p>
            <h3>
                La Peau et les Coraux : La Barrière Protectrice
            </h3>
            La peau humaine, notre plus grand organe, agit comme une barrière contre les agressions extérieures, un rôle semblable à celui des récifs coralliens pour les côtes marines. Les récifs, avec leur diversité de coraux et d’espèces associées, protègent les littoraux contre l’érosion, tout comme notre épiderme nous défend contre les bactéries et les radiations UV.

            En termes de recherche biomédicale, les coraux et autres organismes marins produisent des composés bioactifs utilisés dans les crèmes solaires et les traitements dermatologiques. Par exemple, les mycosporines, des molécules issues de certaines algues, sont intégrées à des formules pour leur capacité à absorber les UV. Le lien est plus qu’un simple parallèle : la biodiversité marine enrichit directement notre arsenal pour protéger notre propre "récif corporel".
        </p>
    </div>

    <footer>
        <a href="/" data-effect="mfp-move-from-top" class="Paragraph">
            Retourner à l'accueil
        </a>
    </footer>

</body>

</html>
